<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div>
        <h1>Altere seu produto</h1>
          <%= render 'form', product: @product %>
          <br>
          <%= link_to 'Voltar', products_path, class: "btn btn-warning ml-2" %>
      </div>
    </div>
  </div>
</div>

